html		{ background: #00242b; }
body            { background: #00242b; }
/*h1, h2          { font-family: 'Georgia', serif; } */
h2              { color: #9eb0bd; }


h1.salt		{ font-family: 'Georgia', serif; color: #b89055; }
 
.entries        { list-style: none; margin: 0; padding: 0; }

.label		{ padding: 20px; }

.col-md-1	{ padding-bottom: 10px; }

#items		{ padding-top: 30px; }
#skill		{ padding-top: 60px; }

.masteries.col-md-1 { background-color: #000; }
.col-md-1.offense { }
.col-md-1.defense{ }
.col-md-1.utility { }
