html        { background: #00242b; }
body        { background: #00242b; }
h2          { color: #9eb0bd; }


h1.salt		{ font-family: 'Georgia', serif; color: #b89055; }

.container  { position: relative; }
 
.entries    { list-style: none; margin: 0; padding: 0; }

.label		{ padding: 20px; }

.col-md-1	{ padding-bottom: 10px; }

.anchor		{ background-image:url("http://brave.olsenej.com/images/anchor.png"); width:245px; height:274px; margin:10px 0 0 10px; position:relative; float:right;}
.bilgewater	{ -webkit-text-fill-color: white; -webkit-text-stroke:1px black; -webkit-font-smoothing: antialiased; margin:0; position:absolute; left:68%; bottom:20%;}

.maps		{ -webkit-text-fill-color: white; -webkit-text-stroke:1px black; -webkit-font-smoothing: antialiased; left:200px; position:relative;}
input[type="submit"] { width: 100px; height: 100px; font-size: 3em; margin-left:15px; left:218%; bottom:100%; position:static;}
input[name="map_tt"] { background-image:url("http://brave.olsenej.com/images/maps/map10.png"); background-size: 100px 100px; background-repeat: no-repeat; }
input[name="map_sr"] { background-image:url("http://brave.olsenej.com/images/maps/map11.png"); background-size: 100px 100px; background-repeat: no-repeat; }
input[name="map_ha"] { background-image:url("http://brave.olsenej.com/images/maps/map12.png"); background-size: 100px 100px; background-repeat: no-repeat; }


#items		{ padding-top: 30px; }
#skill		{ padding-top: 60px; }

.masteries.col-md-1 { background-color: #000; }
.col-md-1.offense { }
.col-md-1.defense{ }
.col-md-1.utility { }

/* Fixes margin inherited from bootstrap.min.css */
.jumbotron {margin-bottom: 0px; }
